body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: black;
}

.header{
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
}

ul li {
    display: inline;
    margin: 20px;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: none;
    color: blueviolet;
}

main {
    background-image: url(/assets/img/bg.jpg);
    background-size: cover;
    min-height: 375px;
}

.wrapper {
    margin: 100px;
    padding: 20px;
}

.container {
    display: flex;
}

.img-avatar {
    border-radius: 30px;
    box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, .4);
}

.content-block {
    margin: 20px;
}